body {
    background: #E0FAEE;
}

.container {
    margin-top: 25px;
}

.container .accordion {
    max-width: 650px;
    margin: auto;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.container .accordion .accordion-item {
    border-color: #efa31d;
}

#accordionExample .accordion-item .accordion-header .accordion-button {
    background: #4F301F;
    color: #fff;
    box-shadow: none;
}

.accordion .accordion-item .accordion-header .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}